table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > td:first-child:before,
table.dataTable.dtr-inline.collapsed
    > tbody
    > tr[role="row"]
    > th:first-child:before {
    top: 15px;
}

.highcharts-credits {
    display: none;
}

.table-header .form-control {
    max-width: 300px;
}

.ui-datepicker-trigger {
    background: url(calendar.svg) no-repeat center;
    border: 0;
    font-size: 0;
    text-indent: -9999px;
    padding: 0;
    width: 20px;
    height: 20px;
    margin-left: -30px;
    margin-right: 10px;
    cursor: pointer;
    outline: 0;
}

@media (max-width: 767px) {
    .table-header {
        flex-wrap: wrap;
        justify-content: center;
    }

    .table-header h1 {
        flex-basis: 100%;
        text-align: center;
        margin-bottom: 15px !important;
    }
}
